

form {
background-color: white;
border-radius: 30px;
padding: 5px 20px 5px 20px;
margin: 10px;
font-size: 20px;

}
input, button {
    border: none;
    outline: none;
    justify-content: center; 
    padding:10px;
}

input {
    color: var(--accent-color);
    width: 85%;

}
button {
   float: right;
   background-color: white;
   color: var(--accent-color);
}

button:hover {
    color: grey;

}

@media only screen and (min-width: 700px) {
    form {
        font-size:15px;
        max-width: 390px;
    }
}