div.container {
    max-width:700px;
    opacity:.9;
    
}

h1{
   padding-left: 10px;
}
span.main-temperature {
    font-size: 85px;
    line-height: 85px;;
    color: var(--accent-color);
}

span.temperature-units {
   color: grey;
   position: relative;
   top: -45px;
   line-height: 85px;
   display:inline-block; 
}

img {
    max-height:100px;
    max-width: 100px;
    position: relative;
    top:-25px;
}
li {
    text-transform: capitalize;
    text-align: center;
}

li.description{
    text-transform: uppercase;
}
div.image-and-description {
    display:block;
    padding-left: none;
   
}
div.row {
    border-radius: 10px;
}

ul span {
    position: relative;
    top:-4px;
    text-transform: capitalize;
    font-size: 10px;
}


@media only screen and (max-width: 767px) {
    p.description {
       display:none;
    }
    div.container {
        max-width:400px;
    }
    p, div.main-temperature-and-units {
        text-align: center;
        padding-top: 15px;
        
        
    }
    span.main-temperature, span.temperature-units {
        line-height: 30px;
        
    }
    ul {
        padding-top: 20px;
    }
    img {
        max-height:100px;
        max-width: 100px;}
    ul {
        max-width: 250px;
        display: block;
        margin: 0 auto;
    }
    li {
        text-align: center;
    }
    
}