div.container {
    max-width:700px;
}
span.main-temperature {
    font-size: 85px;
    line-height: 55px;;
    color: var(--accent-color);
}

span.temperature-units {
   color: grey;
   position: relative;
   top: -40px;
   line-height: 85px;
   display:inline-block;
  
}
img {
    max-height:150px;
    max-width: 150px;
    margin: 0 auto;
    display:block;
   
}
div.row {
    border-radius: 10px;
}

p.description {
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
    
}
footer {
    padding-top: 10px;
    color: grey;
}
@media only screen and (max-width: 767px) {
    p.description {
       display:none;
    }
    div.container {
        max-width:400px;
    }
    p, div.main-temperature-and-units {
        text-align: center;
        padding-top: 15px;
        
        
    }
    span.main-temperature, span.temperature-units {
        line-height: 30px;
        
    }
    ul {
        padding-top: 20px;
    }
    img {
        max-height:100px;
        max-width: 100px;}
    
}